html,body {
	height:auto;
	margin: 0;
	padding: 0;
	position: relative;
}

.container-fluid {
	padding: 0px;
}

table, th, td {
    border: 1px solid black;
}

/*covers primary container-fluid around header to footer*/
#form{
	/*linear-gradient(90deg, rgba(255,126,95,1) 0%, rgba(254,180,123,1) 100%);*/		
	background-color:#312319;
	margin-top: 50px;	    
    min-height: 95vh; /* will cover 95% of viewport */
 	overflow: hidden;
 	display: block;
 	position: relative;
 	padding-bottom: 50px; 
}

.well {
	background-color:#312319;
}

.shopInfo {
	color:#DAA671;
}

img {
	width: 100%;
	height: 100vh;
}

/*
~~~~~ jumbotron ~~~~~
*/

.vertical-center {
	min-height: 100vh;
	
	text-align: center;
}

.jumbotron {	
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../img/jumbo9.jpg"); 
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	position: relative;
	height: 100vh;
	color: white;
	text-align: center;
	border-color:transparent;
	margin: 0px;
}

/*
~~~~~carousel~~~~~
*/

.carousel-title {
	font-family: 'Pacifico', cursive; 
	font-size: 75px; 
	text-align: center; 
	color: white;
	text-shadow: 1px 1px;
}

.carousel-item {
    width: 100%; /*slider width*/
    height: 100vh; /*slider height*/

}
.carousel-item img {
    width: 100%; /*img width*/
    linear-graident: rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5);
    opacity: 0.8;    
}

#carousel-2 {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../img/jumbo2.jpg");
    background-repeat: no-repeat;	
	background-size: 100% 100%;
	width:100%; 
	height: 100vh;   
}
#carousel-4 {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../img/jumbo4.jpg");
    background-repeat: no-repeat;	
	background-size: 100% 100%;
	width:100%; 
	height: 100vh;   
}



#carousel-6 {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../img/jumbo6.jpg");
    background-repeat: no-repeat;	
	background-size: 100% 100%;
	width:100%; 
	height: 100vh;   
}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/*
~~~~~ navigation bar ~~~~~
*/

#navbar {
	background-color: #251f16;
	opacity: 1;
	filter:(opacity=90);
	border-color: transparent;
	height:6%;
}

#navtitle {
	color: #b6744c;
	font-size: 25px;
	font-family: 'Pacifico', cursive;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*
~~~~~home page columns ~~~~~
*/

#col1 {
	background-image: url("../img/shop1.jpg");
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 300px;
	padding: 0px;
}

#col2 {
	background-color: #e1eae7;
	vertical-align: middle;
	height: 300px;
}

#center {
	position: absolute;
  	top: 50%;
  	left:50%;
  	transform: translate(-50%,-50%);
}

#col3 {
	background-color: #e1eae7;
	height: 300px;
}

#col4 {
	background-image: url("../img/coffeevar1.jpg");
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 300px;
}

/*
~~~~~about~~~~~
*/

.about {
	max-width:300px;
	max-height:300px;
	border-radius: 50%;
	background-color: white;
}

/*
~~~~~user form jsps ~~~~~
*/

#newUser{
	height: auto;
	padding-top: 75px;
}

/*
~~~~~~javascript pages~~~~
*/

#map {
		height:450px;
		width:100%;
	}
	
.well {
	background-color:#312319;
}

.shopInfo {
	color:#DAA671;
	
}

img {
	width: 100%;
	height: auto;
}	
/*
~~~~~footer~~~~~
*/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
	border-top: .5px solid black;
	height: 50px;
	
}